<a href="<%= @bookmarks[0] %>"> <%= @bookmarks[0] %> </a>
<br> </br>
<a href="<%= @bookmarks[1] %>"> <%= @bookmarks[1] %> </a>
<br> </br>
<a href="<%= @bookmarks[2] %>"> <%= @bookmarks[2] %> </a>

<div> Add a new bookmark </div> 
<form action="/add_bookmark" method="post">
<input type="text" name = "url"> 
<input type="submit" value="Add Bookmark"> 

</form>